.contacts {
    display: flex;
    width: 500px;
  
}

.dots {
    display: block;
    background: radial-gradient(circle, rgba(0,0,0,.62) 1px, transparent 1px) repeat-x;
    background-size: 10px 14px;
    flex-grow: 10;
}